Repository iota2/CANopen-tools-suite: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, fix-license-headers, check-changelog, fix-changelog

check-license-headers:
  name: Check license headers (iota2)
  entry: python3 tools/check_license_headers.py
  language: system
  pass_filenames: true
  args:
  - --verbose

fix-license-headers:
  name: Fix license headers (runs add_license_headers.sh)
  entry: bash tools/add_license_headers.sh
  language: system
  pass_filenames: false
  always_run: false

check-changelog:
  name: Check CHANGELOG Unreleased section (iota2)
  entry: python3 tools/check_changelog.py
  language: system
  pass_filenames: false
  always_run: false
  args:
  - --verbose

fix-changelog:
  name: Fix CHANGELOG Unreleased (populate from git log) (maintainer)
  entry: python3 tools/check_changelog.py --fix
  language: system
  pass_filenames: false
  always_run: false

updated refman.rtf
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: none

Added 3rd party licenses for GPL
  README.md
  THIRD_PARTY_LICENSES.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers

Updated manual release script.
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Updated manual release script. (#53)
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Fixed manual release script.
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Fixed manual release script.
  .github/workflows/manual-create-release.yml
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers

Fixed manual release script. (#54)
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Fixed manual release script. (#55)
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Release job commit major version
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Release job commit major version (#57)
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Created Release notes script
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
  tools/generate_release_notes.py
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Created Release notes script (#59)
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  canopen_analyzer/dox/documentation/rtf/refman.rtf
  tools/generate_release_notes.py
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Add release notes to release
  .github/workflows/manual-create-release.yml
  CHANGELOG.md
  VERSION
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Fixed versions in files
  CHANGELOG.md
  README.md
  canopen_analyzer/canopen_sniffer.py
  canopen_analyzer/dox/documentation/rtf/refman.rtf
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

chore(release): bump version to v1.0.0
  VERSION
Due: none

Updated EDS Parser to show name as Index.Sub
  CHANGELOG.md
  canopen_analyzer/dox/documentation/man/man3/README.md.3
  canopen_analyzer/dox/documentation/man/man3/analyzer_defs.3
  canopen_analyzer/dox/documentation/man/man3/analyzer_defs.py.3
  canopen_analyzer/dox/documentation/man/man3/analyzer_defs_frame_type.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats.py.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats_error_stats.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats_frame_count.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats_payload_size.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats_rates_stats.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats_sdo_stats.3
  canopen_analyzer/dox/documentation/man/man3/bus_stats_bus_stats_stats_data.3
  canopen_analyzer/dox/documentation/man/man3/canopen_analyzer.3
  canopen_analyzer/dox/documentation/man/man3/canopen_analyzer.py.3
  canopen_analyzer/dox/documentation/man/man3/canopen_sniffer.3
  canopen_analyzer/dox/documentation/man/man3/canopen_sniffer.py.3
  canopen_analyzer/dox/documentation/man/man3/canopen_sniffer_canopen_sniffer.3
  canopen_analyzer/dox/documentation/man/man3/display_cli.3
  canopen_analyzer/dox/documentation/man/man3/display_cli.py.3
  canopen_analyzer/dox/documentation/man/man3/display_cli_display_cli.3
  canopen_analyzer/dox/documentation/man/man3/display_gui.3
  canopen_analyzer/dox/documentation/man/man3/display_gui.py.3
  canopen_analyzer/dox/documentation/man/man3/display_gui_CANopenMainWindow.3
  canopen_analyzer/dox/documentation/man/man3/display_gui_GUIUpdateWorker.3
  canopen_analyzer/dox/documentation/man/man3/display_gui_MultiRateLineWidget.3
  canopen_analyzer/dox/documentation/man/man3/display_tui.3
  canopen_analyzer/dox/documentation/man/man3/display_tui.py.3
  canopen_analyzer/dox/documentation/man/man3/display_tui_display_tui.3
  canopen_analyzer/dox/documentation/man/man3/eds_parser.3
  canopen_analyzer/dox/documentation/man/man3/eds_parser.py.3
  canopen_analyzer/dox/documentation/man/man3/eds_parser_eds_parser.3
  canopen_analyzer/dox/documentation/man/man3/process_frames.3
  canopen_analyzer/dox/documentation/man/man3/process_frames.py.3
  canopen_analyzer/dox/documentation/man/man3/process_frames_process_frames.3
  canopen_analyzer/eds_parser.py
  canopen_analyzer/process_frames.py
Due: check-license-headers, fix-license-headers, check-changelog, fix-changelog

Path conditions:
  check-license-headers: any of: \.(py|sh|yml|yaml|md)$
  fix-license-headers: any of: \.(py|sh|yml|yaml|md)$
  check-changelog: any of: ^CHANGELOG\.md$
  fix-changelog: any of: ^CHANGELOG\.md$
